
#cont_p
  
  %b 
    
    = link_to 'Home', new_post_path
    = ' / '
    = link_to 'Manufacture', new_post_path
    = ' / '
    = link_to 'Priting', new_post_path
    = ' / '
    = link_to 'T-shirt for Festival - Pinkpop', new_post_path, {:style=>'color:#f37e49;', :class => "css_class"}
#cont1
  %img{:id=>'leba',:src=>'/assets/leba.jpg',:alt=>'Alt text'}
  #cont1_right
    %b{:style=>'font-size: 40px; line-height: 1.4;'}
      T-shirt For Festival - Pinkpop
    %br
    %br
    %p
      Lorem ipsum dolor sit a met, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %br
    %p{:style=>'font-size: 10px;'}
      Posted 
      %b 
        3 days ago
      by 
      = link_to 'Edward Attinborough', new_post_path
  %br
  #cont1_border.ramka
    

    
    
#cont23
  #cont2 
    Two exquisite objection delighted deficient yet its contained. Cordial because are account evident its subject but eat. Can properly followed learning prepared you doubtful yet him. Over many our good lady feet ask that. Expenses own moderate day fat trifling stronger sir domestic feelings. Itself at be answer always exeter up do. Though or my plenty uneasy do. Friendship so considered remarkably be to sentiments. Offered mention greater fifteen one promise because nor. Why denoting speaking fat indulged saw dwelling raillery. 
  #cont3 
    Subjects to ecstatic children he. Could ye leave up as built match. Dejection agreeable attention set suspected led offending. Admitting an performed supposing by. Garden agreed matter are should formed temper had. Full held gay now roof whom such next was. Ham pretty our people moment put excuse narrow. Spite mirth money six above get going great own. Started now shortly had for assured hearing expense. Led juvenile his laughing speedily put pleasant relation offering.
  .filter
  #cont4
    Two exquisite objection delighted deficient yet its contained. Cordial because are account evident its subject but eat. Can properly followed learning prepared you doubtful yet him. Over many our good lady feet ask that. Expenses own moderate day fat trifling stronger sir domestic feelings. Itself at be answer always exeter up do. Though or my plenty uneasy do. Friendship so considered remarkably be to sentiments. Offered mention greater fifteen one promise because nor. Why denoting speaking fat indulged saw dwelling raillery.
  #cont4
    Two exquisite objection delighted deficient yet its contained. Cordial because are account evident its subject but eat. Can properly followed learning prepared you doubtful yet him. Over many our good lady feet ask that. Expenses own moderate day fat trifling stronger sir domestic feelings. Itself at be answer always exeter up do. Though or my plenty uneasy do. Friendship so considered remarkably be to sentiments. Offered mention greater fifteen one promise because nor. Why denoting speaking fat indulged saw dwelling raillery.
    = link_to 'New Post', new_post_path
