<!DOCTYPE html>
<html>
<head>
  <title>Wearmytag</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbr">
    <div id="contain" class="row">
    <div id="navig_slim" class="visible-sm visible-xs">
      <button class="nav-button">Toggle Navigation</button>

      <ul class="primary-nav">
        <li><a href="#">DESIGN</a></li>
        <li><a href="#">MANUFACTURE</a></li>
        <li><a href="#">SELL</a></li>
        <li><a href="#">Accaunt</a></li>
        <li><a href="#">Mir <b style="color: #694569;">12</b></a></li>
        <li><a href="#">Mail <b style="color: #694569;">5</b></a></li>
        <li><a href="#">Portfolio <b style="color: #694569;">11</b></a></li>
        <li class="parent"><a href="#">About Us</a>
          <ul>
            <li><a href="#">Our History</a></li>
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Community Involvement</a></li>
            <li><a href="#">Job Opportunities</a></li>
          </ul>
        </li>
      </ul>
      </div>
      <div id="emblema">
        <%= image_tag("Logo.jpg", :alt => "rss feed") %>
      </div>
      <div id="navig" class="hidden-sm hidden-xs">
          <%= link_to 'DESIGN', new_post_path, {:class => "nav_bar", :style => "width: 28%;"} %>
          <%= link_to 'MANUFACTURE', new_post_path, {:class => "nav_bar", :style => "width: 50%;"} %>
          <%= link_to 'SELL', new_post_path, {:class => "nav_bar", :style => "width: 22%;"} %>
        
        
      </div>
      <div id="acuser" class="hidden-sm hidden-xs">
        <%= image_tag("foto.jpg", :alt => "rss feed",:id => "avatar") %>
        <div id="spisok">
        <ul id="menu">
          <li><a href="#">Artstudios <%= image_tag("dawn.jpg", :alt => "rss feed") %></a>
          <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
          </ul>
          </li>
        </ul>
        </div>
        <div id="emb_nav">
          <div id="maseg"><center>12</center></div>
          <a href="#" class="mylink"> 
            <%= image_tag("planet.jpg", :alt => "rss feed", :id => "poz_nav") %>
          </a>
        </div>
        <div id="emb_nav">
          <div id="maseg"><center>5</center></div>
          <a href="#" class="mylink"> 
            <%= image_tag("konv.jpg", :alt => "rss feed", :id => "poz_nav") %>
          </a>
        </div>
        <div id="emb_nav">
          <div id="maseg"><center>11</center></div>
          <a href="#" class="mylink"> 
            <%= image_tag("diplomat.jpg", :alt => "rss feed", :id => "poz_nav") %>
          </a>
        </div>
    </div>
</div>
</div>
  




<%= yield %>

</body>
</html>
